HOST=0.0.0.0
PORT=1337
APP_KEYS=replace_with_random_key_1,replace_with_random_key_2,replace_with_random_key_3,replace_with_random_key_4
API_TOKEN_SALT=replace_with_random_value
ADMIN_JWT_SECRET=replace_with_random_value
TRANSFER_TOKEN_SALT=replace_with_random_value
JWT_SECRET=replace_with_random_value
ENCRYPTION_KEY=replace_with_32_char_random_value
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=shinko_cms
DATABASE_USERNAME=shinko
DATABASE_PASSWORD=replace_with_database_password
DATABASE_SSL=false
UPLOAD_SIZE_LIMIT=536870912
